:root {
  --hurry-up-font-size: 6em;
}

.hurry-up {
  width: auto;
  height: auto;

  .window-content {
    background: transparent;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
  }

  &.paused {
    opacity: 0.5;
  }

  .hurry-up-timer-text {
    font-size: var(--hurry-up-font-size);
    // color: var(--hurry-up-base-color);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .75));
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1em;
    width: 100%;
    margin-top: -0.3rem;
    z-index: 20;
  }

  .hurry-up-counter-text {
    font-size: var(--hurry-up-font-size);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .75));
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1em;
    width: 100%;
    margin-top: -0.3rem;
    z-index: 20;
  }

  .counter-window {
    display: flex;
    justify-content: center;
    width: fit-content;

    .hurry-up-timer {
      display: flex;
      position: relative;
      width: fit-content;

      button {
        height: 100%;
        width: 4rem;
        flex: 1;
      }

      span {
        flex: 2;
      }
    }
  }

  .main-window {
    display: flex;
  }

  .hurry-up-bar {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 5px;
    z-index: 10;
    height: 100%;
    // width: 100%;
    // background: var(--hurry-up-bar-color);
    opacity: 0.2;
    transition: width 0.4s ease-out;
    pointer-events: none;
  }

  .blinking {
    animation: blinking-text 1s ease infinite;
  }

  .window-header {
    height: var(--header-height);
    flex: 0 0 auto;
    transition: height 0.2s ease-out;

    button {
      display: none;
    }

    &.windowless { 
      --header-height: 0;
      border: none;
    }
  }

  &:hover {
    .window-header.windowless {
      --header-height: unset;
      border: unset;
    }
  }

  &.minimized {
    .window-header.windowless {
      --header-height: unset;
      border: unset;
    }
  }
}

@keyframes blinking-text {
  50% {
    opacity: 0%;
  }
}