<div class="counter-window">
    <div class="hurry-up-timer">
        <div class="hurry-up-bar"></div> 
        <button class="icon fas fa-minus"></button>
        <span class="hurry-up-counter-text"> 0 </span>
        <button class="icon fas fa-plus"></button>
    </div>
</div>